.navbar {
	width: 100%;
}
.login-user {
	font-weight: 700;
	font-size:20px;
}
.footer {
	position:absolute;
	bottom:0;
	width:100%;
	color: #fff;
}
.nav {
	color: #fff;
}
.header {
	font-size:30px;
	color: #fff;
}
.header:hover {
	text-decoration: none;
	color: #fff;
}
.icon-delete {
	position: absolute;
	top: 10px;
	right: 10px;
}
.icon-edit {
	position: absolute;
	top: 40px;
	right: 10px;
}
.icon {
	cursor: pointer;
}
.article {
	margin-top: 30px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.article span {
	color: gray;
	margin-top:10px;
}
.article p {
	width: 80%;
	margin-top: 20px;
}
.controls button {
	margin: 0 10px 0 10px;
}
.form {
	width: 80%;
}